/* ============================================ *
 * Sidebar
 * ============================================ */
.sidebar {

}
.block-compare {
    .block-title {

    }
    .block-content {
        padding: $gap;
        margin: 0;
        border: 1px solid $c-fieldset-border;
        .compare-items {
            padding-bottom: 5px;
            border-bottom: 1px solid $c-fieldset-border;
        }
        .item {
            margin-left: 0;
        }
    }
}

